@import "theme/fonts/css/mulish.css";
@import "theme/fonts/css/jis.css";

html,
body {
  height: 100%;
}

#root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 1rem !important;
  font-family: "Mulish", serif !important;
}

a {
  cursor: pointer;
}

span,
h1,
h2,
h3,
h4,
h5,
h6,
td,
th,
p,
div {
  font-family: "Mulish", serif !important;
}

span.material-icons {
  font-family: "Material Icons" !important;
}

*:focus {
  outline: none;
}

body * {
  box-sizing: border-box;
}

.MuiInput-underline:after,
.MuiInput-underline:before {
  border: none !important;
  padding-left: 5px;
}

@media (max-width: 599.95px) {
  body {
    font-size: 16px;
  }
}
