@font-face {
  font-family: "jis";
  src: url("../../../assets/fonts/jaznb/jaznb.eot");
  src: url("../../../assets/fonts/jaznb/jaznb.eot?#iefix") format("embedded-opentype"),
    url("../../../assets/fonts/jaznb/jaznb.woff") format("woff"),
    url("../../../assets/fonts/jaznb/jaznb.ttf") format("truetype"),
    url("../../../assets/fonts/jaznb/jaznb.svg#jaznb") format("svg");
  font-weight: normal;
  font-style: normal;
}
