@font-face {
  font-family: "Mulish";
  src: url("../../../assets/fonts/Mulish/Mulish-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Mulish";
  src: url("../../../assets/fonts/Mulish/Mulish-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Mulish";
  src: url("../../../assets/fonts/Mulish/Mulish-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Mulish";
  src: url("../../../assets/fonts/Mulish/Mulish-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Mulish";
  src: url("../../../assets/fonts/Mulish/Mulish-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Mulish";
  src: url("../../../assets/fonts/Mulish/Mulish-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Mulish";
  src: url("../../../assets/fonts/Mulish/Mulish-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Mulish";
  src: url("../../../assets/fonts/Mulish/Mulish-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Mulish";
  src: url("../../../assets/fonts/Mulish/Mulish-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Mulish";
  src: url("../../../assets/fonts/Mulish/Mulish-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Mulish";
  src: url("../../../assets/fonts/Mulish/Mulish-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Mulish";
  src: url("../../../assets/fonts/Mulish/Mulish-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Mulish";
  src: url("../../../assets/fonts/Mulish/Mulish-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Mulish";
  src: url("../../../assets/fonts/Mulish/Mulish-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Mulish";
  src: url("../../../assets/fonts/Mulish/Mulish-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Mulish";
  src: url("../../../assets/fonts/Mulish/Mulish-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
